*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #ffffff;
}

body{
  background-size: cover;
  background-color: #6f2885;
}

.site-header{
  display: flex;
  flex-wrap: wrap;
  background-color: #6f2885;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: fit-content;
}

.headerBox{
  display: flex;
  place-items: center;
  justify-content: center;
}

.logoText{
  font-size: 20pt;
}

#logoImage{
  margin-right: 25px;
  width: 13em;
  height: 200px;
}

#logo{
  width: 30%;
}

#searchbar{
  width: 45%;
}

#searchbar > input{
  height: 30px;
  padding: 15px;
  width: 90%;
  color: #000000;
  border: solid 2px #00000085;
  border-radius: 15px;
}

#navbar{
  display: inline-block;
  width: 25%;
}

#options{
  list-style-type: none;
}

.optionsItem{
  display: inline-block;
  margin: 10px;
}

.departamentsBox{
  background-color: #9715b8;
  width: 100%;
  height: fit-content;
  padding: 10px 0px;
  text-align: center;
}

.departamentsItem{
  height: max-content;
  padding: 0.7em 10%;
  border: solid 0px black;
  border-radius: 5px;
  transition: 0.1s background-color;
}

.departamentsItem:hover{
  background-color: #771091b2;
  transition: 0.15s background-color;
}



.departamentsBox ul li{
  list-style-type: none;
  display: inline-block;
}

.pageContainer{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  background-color: #6f809000;
  padding: 25px;
  background-image: url(../img/page-background.jpg);
}

footer{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  background-color: #6f2885;
  height: fit-content;
  padding: 65px 10px;
}

.footerContainer{
  width: 25%;
  max-height: 100px;
}

.footerList{
  list-style-type: none;
  width: 75%;
  line-height: 150%;
}

.footerContainer > ul{
  columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
}

.footerContainer h4{
  margin-bottom: 10px;
}

a.button{
  border: solid 3px #ffffff;
  text-decoration: none;
  padding: 10px;
  height: auto;
  width: auto;
  border-radius: 10px;
  transition: 0.3s all;
}

a.button:hover{
  cursor: pointer;
  background-color: #ffffff33;
}

button{
  border: solid 3px #ffffff;
  background-color: transparent;
  font-size: 15px;
  text-decoration: none;
  padding: 10px;
  height: auto;
  width: auto;
  border-radius: 10px;
  transition: 0.3s all;
}

button:hover{
  background-color: #ffffff33;
  cursor: pointer;
}

input, textarea{
  padding: 5px;
  color: #000000;
  border: solid 2px #00000085;
  border-radius: 5px;
}

form > p{
  margin-top:15px
}

.link{
  text-decoration: none;
}

.link:hover{
  cursor: pointer;
  color: #ffffffb2;
}

.smallBox{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: #691b7c;
  width: 80%;
  height: 200px;
  border-radius: 5px;
  border: solid 1px black;
  margin-top: 20px;
  text-align: center;
  padding: 25px 5px;
}

.formBox{
  background-color: #691b7c;
  width: 70%;
  height: fit-content;
  border-radius: 5px;
  border: solid 1px black;
  margin-top: 20px;
  text-align: center;
  padding: 75px 5px;
}

.aboutBox{
  background-color: #691b7c;
  width: 70%;
  height: fit-content;
  min-height: 300px;
  border-radius: 5px;
  border: solid 1px black;
  margin-top: 20px;
  padding: 75px 60px;
}

#about{
  max-width: 250px;
  line-height: 150%;
  margin-top: 10px;
}

.contentContainer{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin-top: 25px;
}

.largeBox{
  background-color: #691b7c;
  width: 95%;
  height: fit-content;
  border-radius: 5px;
  border: solid 1px black;
  margin-top: 20px;
  padding: 25px 25px;
}

.itemBoxContainer{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.itemBox{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 30%;
  height: fit-content;
  border: solid 1px white;
  border-radius: 25px;
  padding: 25px;
  margin-top: 20px;
}

.itemBox > img{
  border-radius: 10px;
}

.wishlistItem{
  width: 30%;
  margin-left: 30px;
}

.productOptions{
  text-decoration: underline;
}

.itemBoxContainer > h3{
  margin-top: 25px;
}

.productBox{
  display: flex;
  background-color: #691b7c;
  width: 70%;
  height: fit-content;
  border-radius: 5px;
  border: solid 1px black;
  margin-top: 20px;
  text-align: left;
  padding: 40px 25px;
}

.fullProductOptions{
  margin-left: 40px;
}

.fullProductOptions > button{
  margin-left: 15px;
  margin-top: 35px;
}